@import url('https://fonts.googleapis.com/css?family=Nunito|Staatliches');

/* =============================
    VARIABLES
============================= */

:root {
    --color-primary: #659999;
    --color-secondary: #f4791f;
    --font-header: Staatliches, serif;
    --font-main: Nunito, sans-serif;
}

* {
	box-sizing: border-box;
}

html, body {
    max-width: 100%;
    width: 100%;
}

body {
    background: rgba(235, 235, 235, 0.9);
    font-family: "Nunito", sans-serif;
    text-align: center;
}

header {
    padding: 15px 5px 5px;
}

.header-inner-container {
    margin: auto;
    max-width: 1180px;
}

header h1 {
    /* Metapolis gradient from https://uigradients.com/#Metapolis */
    background: var(--color-primary);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--color-secondary), var(--color-primary)); 
    background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
    -webkit-background-clip: text;
    font-family: var(--font-header);
    font-size: 2.25em;
    margin-top: 35px;
    -webkit-text-fill-color: transparent;
}

.small {
    font-size: 1.75rem;
}

.search-input {
    border: 1px solid rgba(200, 200, 200, 0.9);
    border-radius: 0.25rem 0 0 0.25rem ;
    max-width: 20rem;
    padding: 0.4rem 1rem;
    outline: none;
    transition: .4s ease-out;
}

.search-input:active, .search-input:hover, .search-input:focus {
    border: 1px solid rgba(50, 50, 50, 0.9);
}

.search-submit {
    background: rgba(245, 245, 245, 0.9);
    border: 1px solid rgba(200, 200, 200, 0.9);
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    height: 33px;
    outline: none;
    transition: .4s ease-out;
}

.search-submit:active, .search-submit:hover, .search-submit:focus {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(50, 50, 50, 0.9);
}


/* ===================================== 
   Gallery
======================================== */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}
  
.card {
    background: rgba(245, 245, 245, 0.9);
    border-radius: 0.25em;
    border-top: 15px solid var(--color-secondary);
    box-shadow: 0 4px 5px rgba(0,0,0,0.19), 0 6px 7px 2px rgba(0,0,0,0.23);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 10px 20px;
    max-width: 360px;
    padding: 10px 10px 15px 10px;
    overflow: hidden;
    transition: .3s ease-out;
    width: 100%;
}

.card-img {
    border-radius: 50%;
    margin: 10px 15px auto 10px;
    width: 95px;
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
}

.card-text {
    color: rgba(50, 50, 50, 0.7);
    font-size: 0.9em;
    margin: 7px auto;
    transition: .4s ease-out;
}

.cap {
    text-transform: capitalize;
}


/* ===================================== 
   Modal
======================================== */

.modal-container {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
}

.modal {
    background: rgba(255, 255, 255, 1);
    border-bottom: 5px solid var(--color-primary);
    border-radius: 0.25em;
    border-top: 15px solid  var(--color-secondary);
    margin: 10px auto auto;
    max-width: 420px;
    min-height: 415px;
    padding-bottom: 15px;
    position: relative;
    transition: .4s ease-out;
    width: 95%;
}

.modal-close-btn {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.25em;
    border: 1px solid rgba(50, 50, 50, 0.3);
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
}

.modal-img {
    border-radius: 50%;
    margin-top: 35px;
    width: 150px;
}

.modal-name {
    margin-bottom: 5px;
}

.modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
}

.modal hr {
    border-color: rgba(200, 200, 200, 0.2);
    margin: 25px auto 30px;
    width: 75%;
}

.modal-btn-container {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-radius: 0.25em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 10px auto auto;
    max-width: 420px;
    padding: 10px 15px 15px;;
    width: 95%;
}


.modal-btn-container .btn {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.35em;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: inline-block;
    font-size: 0.85em;
    padding: 0.75em 1.5em;
    outline: none;
    text-transform: uppercase;
    transition: .4s ease-out;
  }
  

/* ===================================== 
   Media Queries
======================================== */

/* ===================================== 
   Tablet
======================================== */

@media (min-width: 768px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
    }

    .header-text-container {
        text-align: left;
    }

    .search-container {
        margin-top: 25px;
    }

    .modal {
        margin-top: 100px;
    }
}


/* ===================================== 
   Desktop
   Hover styles on desktop 
======================================== */

@media (min-width: 1024px) {

    .card:hover {
        background: rgba(255, 255, 255, 1);
        border-top: 15px solid var(--color-primary);
        transition: 0.1 all ease;
    }

    .card:hover .card-text {
        color: rgba(25, 25, 25, 1); 
    }

    .btn:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 25, 25, 1); 
    }
}